
.footer-container {
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  text-align: center;

  .footer-header {
    letter-spacing: 10px;
    font-size: 20px;
  }
}

.footer-bottom {
  position: absolute;
  width: 100%;
  bottom: 0px;
}