a {
  text-decoration: none; 
}

.header {
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 45px 0px 45px 45px;

    .header-title {
      font-family: belweFont;
      color: black;
    }

    .search-icon {
      padding-right: 65px;
    }

    .search-icon:hover {
      transform: scale(1.05);
    }
  }
}