.landing-cards {
  display: flex;
  justify-content: center;
  
  .hiking-img {
    // @media (min-width:600px)  {
    //   width: 25%;
    // }

    // @media (max-width:599px)  {
    //   width: 40%;
    // }

    @media (min-width:320px)  { 
      /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
      width: 40%;
    }
    @media (min-width:1025px)  { 
      /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
      width: 35%;
    }

    @media (min-width:1281px)  { 
      /* tablet, landscape iPad, lo-res laptops ands desktops */ 
      padding-left: 0.75em;
      width: 25%;
    }
  }

  .cards-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.75em;

    // @media (min-width:900px)  {
    //   padding-left: 0.75em;
    //   width: 25%;
    // }
    // @media (max-width:899px)  {
    //   padding-left: 0.5em;
    //   width: 25%;
    // }
    // @media (max-width:599px)  {
    //   padding-left: 0.4em;
    //   width: 40%;
    // }

    @media (min-width:320px)  { 
      /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
      padding-left: 0.4em;
      width: 40%;
    }
    @media (min-width:1025px)  { 
      /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
      padding-left: 0.5em;
      width: 35%;
    }
    @media (min-width:1281px)  { 
      /* tablet, landscape iPad, lo-res laptops ands desktops */ 
      padding-left: 0.75em;
      width: 25%;
    }

    .mountain-img {
      width: 100%;
      height: 49%;
    }
  }
}
